nav{
    position: fixed;
    bottom: 0;
    width: 100vw;


}
nav ul {
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: lightseagreen;
}

nav li {
    padding:10px;
    background-color: lightcoral;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav li a {
    font-size:20px;
    display: block;
    color: black;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}